body {
  background: #f1f0f0 !important;
  color: #f1f0f0 !important;
}

.navbar,
.navbar-default {
  background-color: #f1f0f0 !important;
  border-color: #1a1a1a !important;
}

.navbar-nav > .active > a, .navbar-nav > .active > a:focus, .navbar-nav > .active > a:hover {
  border-bottom: 2px solid #008eb9 !important;
  background: none !important;
  color: #008eb9 !important;
}

.navbar-nav > li > a,
.navbar-brand {
  color: #222222 !important; /* Topbar link color */
}

.navbar-nav > .active > a, 
.navbar-nav > .active > a:focus, 
.navbar-nav > .active > a:hover {
  border-bottom: 2px solid #008eb9 !important;
  color: #008eb9 !important;
}

a { color: #008eb9; }
a:hover { color: #008eb9; }

hr { border-top: 1px solid #333; }

.fa { color: #222222; }

body, .main-container {
  font-size: 14pt;
  color: #222222 !important; /* Main text color */
}

/* Center the navbar brand in the topbar */
@media (min-width: 768px) {
  .navbar .container {
    position: relative;
  }
  .navbar-header {
    position: absolute;
    left: calc(50% + 1.5cm);
    transform: translateX(-50%);
    width: auto;
    z-index: 2;
  }
  .navbar-brand {
    float: none !important;
    display: block;
    text-align: center;
  }
  .navbar-nav {
    margin-left: 0;
  }
}


